<%= form_tag orders_path do %>
  <article>
    <label>
      <span>Votre commande est de : <%=@amount%> €</span>
    </label>
  </article>

<%= link_to "Payer la commande", new_charge_path(@cart),  class: "btn btn-secondary btn-sm btn-block"%>


<% end %>