</!DOCTYPE html>
<html>
<head>
  <title>Page Accueil</title>
</head>
<body>
<section class="page-add">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-breadcrumb">
          <h2>Pokemons<span>.</span></h2>
          <a href="#">Home</a>
          <a class="active" href="#">Shop</a>
       </div>
      </div>
    <div class="col-lg-8">
      <img src="https://fr.web.img6.acsta.net/newsv7/18/06/25/12/24/2165761.jpg" alt="">
    </div>
  </div>
</div>
</section>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-lg-3 col-md-6">
          <div class="single-product-item">
            <figure>
              <img src="<%= item.image_url %>" class="card-img-top" alt="Card image cap" style="width: 100px; height: 200px;">
            </figure>
          <div class="product-text">
          <a href="<%= item_path(item.id)%>">
          <h6><%= item.title %></h6>
          </a>
          <p><%= item.price %>€</p>
      </div>
  </div>  
</div>
<% end %>

</body>

</html>>