<div class="jumbotron">
  <h1 class="display-4">Pokemon, Attrapez les tous</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>La boutique en ligne pour acheter Pikachu</p>
</div>

<div class= row style= "display: flex; flex-flow: row wrap; justify-content: space-around">
    <% @items.each do |item| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.price %></p>
    <a href="<%= item_path(item.id) %>" class="btn btn-outline-primary btn-sm">Plus d'informations</a>
  </div>
</div>
    <% end %>
  </div>
</div>