<footer>
  
    
      <div class="copyright">
        <p class="text-light px-5"><i>&copy 2020 Pokestore Inc. - Made with ❤️ by N. Hodee, J. Tournerie, A. Carriere, C. Facco & M. Pierrat</i></p>
      </div>
      <div class ="social">
        <div class="support"></div>
        <div class="face"></div>
        <div class="tweet"></div>
        <div class="linked"></div>
      </div>
    
  

</footer>
