<!-- Footer -->
<footer class="footer font-small pt-4 mt-4">

    <div class="container-fluid text-md-left">

      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase"> Pokemons</h5>
          <p>Le premier site en France de vente de Pokémon en ligne</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Mon compte</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Mon profil</a>
            </li>
            <li>
              <a href="#!">Mon panier</a>
            </li>
            <li>
              <a href="#!">Mes dernières commandes</a>
            </li>
            <li>
              <a href="#!">Mot de passe oublié</a>
            </li>
          </ul>
  
        </div>
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Informations</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
        <!-- Grid column -->

    <!-- Réseaux sociaux -->
    <div class="container text-center  mt-3">
        <ul class="list-unstyled row">
            <li class="col 3">
              <a href="#!"><i class="fab fa-twitter-square fa-3x"></i></a>
            </li>
            <li class ="col 3">
              <a href="#!"><i class="fab fa-instagram fa-3x"></i></a>
            </li>
            <li class ="col 3">
              <a href="#!"><i class="fab fa-facebook-square fa-3x"></i></a>
            </li>
            <li class="col 3">
              <a href="#!"><i class="fab fa-snapchat-square fa-3x"></i></a>
            </li>
        </ul>
    </div>
    <!-- Réseaux sociaux  -->


    <!-- Copyright -->
    <div class="container text-center py-3">© 2020 Copyright:
      <a href=""> Pokemon_shop.com</a>
    </div>
    <!-- Copyright -->

  </div>

</footer>
  <!-- Footer -->
</body> 
</html>

