<section class="page-add">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-breadcrumb">
          <h2>Pokémon<span>.</span></h2>
          <%= link_to "Accueil", root_path %>
          <a class="active" href="#">Shop</a>
        </div>
      </div>
      <div class="col-lg-8">
        <img src="https://fr.web.img6.acsta.net/newsv7/18/06/25/12/24/2165761.jpg" alt="">
      </div>
    </div>
  </div>
</section>
